
doctype html
head
    title Transaction Management
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
.container
    h2.text-center Transaction history
    a(href="/transfer" class="btn btn-primary ") Back
    h5 Trx. ID: 
    h5 Original amount: 
    h5 From account: 
    h5 Remark: 
    h5 Transaction date: 
    h5 To account: 
    h5 Sender: 

